In [11]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Load Data

In [18]:
train = pd.read_csv('../data/train.csv')

In [19]:
train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

# Overview of Dataset

Dataset is highly unbalance with only 3% of the customer being unsatisfied

In [8]:
df = pd.DataFrame(train['TARGET'].value_counts())
df['Percentage'] = 100 * df['TARGET']/train.shape[0]
df

   TARGET  Percentage
0   73012   96.043147
1    3008    3.956853

# var3

Contain weird entry of -999999

In [21]:
train['var3'].unique()

array([      2,     229,     178,       0,       8,       3,       4,
            10,     110,       7,     177,       1,       6,     137,
            17, -999999,      13,      14,     148,       5,      11,
            15,     122,      22,       9,      58,     121,      12,
           127,      33,     125,     209,      72,      31,      51,
            16,     107,     174,     141,     191,     104,     129,
            18,      49,      73,      94,     131,     219,     187,
           114,      28,      89,     115,      53,     126,      47,
            84,     235,     161,     197,      23,      30,     146,
           158,     138,      26,     120,      66,     216,     215,
            90,      20,      21,     103,     192,     142,      29,
           163,     223,      95,      98,      38,     156,      97,
           105,     150,     183,     184,      52,      54,     220,
            25,     225,      86,     124,      27,     162,      19,
           195,     218,      24,      60,     108,      82,      36,
           102,     175,     144,     169,      64,     201,      79,
            91,     159,     135,      45,      61,     189,     118,
           168,      78,     188,      69,      48,     145,     154,
            32,      99,     198,     186,     185,     208,     143,
           164,     100,     231,     149,     200,     190,     116,
            42,     165,      85,      96,     111,      74,     133,
           167,     153,     217,     172,     205,     228,     134,
           193,     211,     147,      43,     117,      46,     132,
           106,      35,      81,     170,     166,      88,     173,
           119,     152,     176,      68,      56,     128,     130,
           151,      41,     171,     204,      50,      44,     196,
           199,      34,      76,      93,     182,      55,     157,
           112,      71,     207,      62,     210,      65,     181,
           139,     136,      59,     213,      77,     101,     238,
            63,     194,      40,      57,      87], dtype=int64)

In [24]:
train['var3'].value_counts().head()

 2         74165
 8           138
-999999      116
 9           110
 3           108
Name: var3, dtype: int64

# var15

In [23]:
train['var15'].unique()

array([ 23,  34,  37,  39,  27,  26,  45,  25,  42,  51,  43,  33,  30,
        44,  36,  55,  28,  35,  54,  40,  24,  14,  66,  50,  22,  62,
        60,  64,  76,  31,  38,  41,  56,  72,  68,   5,  77,  29,  63,
        32,  57,  80,  52,  61,  71,  88,  59,  53, 100,  74,  86,  73,
        48,  46,  49,  65,  47,  21,  75,  58,  67,  13,  83,  87,  84,
        70,  78,  85,  17,  94,  79,  89,  81,  15,  69,  11,  90, 102,
        91,  10,  92,  82,  18,  12,  19,   7,  93,   9,  96,   6,   8,
        16,  95,  97,  98,  20,  99, 105, 104, 101], dtype=int64)

In [27]:
train['imp_ent_var16_ult1'].value_counts().head()

0.0      72301
300.0      221
150.0      217
600.0      172
900.0      164
Name: imp_ent_var16_ult1, dtype: int64